.cartpage{
    display: flex;
    flex-wrap: wrap;
}
.cart-items{
    flex: 3 1 60rem;
}
.pay-section{
    flex: 1 1 20rem;
}
.cart-items-title{
    display: flex;

}
.cart-item-products-title{
    flex: 0.7;
}
.cart-item-products-title{
    flex: 0.3;
}
.cart-container{
    display: flex;
}
.cart-item-image{
    max-width: 18rem;
    max-height: 18rem ;
}